@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #0b0813;
  --foreground: #ffffff;
  --primary: #880fd2;
  --primary-foreground: #ffffff;
  --secondary: #1a1625;
  --secondary-foreground: #ffffff;
  --muted: #1a1625;
  --muted-foreground: #d4d3d4;
  --accent: #880fd2;
  --accent-foreground: #ffffff;
  --destructive: oklch(0.577 0.245 27.325);
  --border: #374151;
  --input: #374151;
  --ring: #880fd2;
  --radius: 0.625rem;
}

@theme inline {
  --font-sans: var(--font-cairo), "Cairo", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@theme {
  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-16px);
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  
  .input-base {
    @apply w-full min-w-0 rounded-lg border border-white/5
      bg-[#0B0A0E] px-4 py-3 text-sm text-foreground
      shadow-xs transition-[color,box-shadow]
      outline-none
      placeholder:text-muted-foreground/70
      disabled:pointer-events-none
      disabled:cursor-not-allowed
      disabled:opacity-50
      focus-visible:border-primary/40
      focus-visible:ring-primary/20
      focus-visible:ring-[3px];
  }
}
